body {
    display: grid;
    border-style: solid;
    padding: 10px;
    margin: 0;

    background-color: #E0E7E9;
    font-family:"Times New Roman", Times, serif;
    font-size: 0.8rem;
}

header,
main {
    border-style: solid;
    margin: 5px;
    padding: 10px;

    background-color:#A3C6C4 ;
    color: black;
    border-radius: 20px;
    padding: 20px;
    font-size: 150%;
}

main {
    text-align: center;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

#notLoggedIn {
    display: block;
}

#loggedIn {
    display: none;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
}

#userInfo,
#search,
#favorite,
#suggestion {
    border-style: solid;
}

#userInfo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#search {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#favorite {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#suggestion {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}