body {
    display: grid;
    padding: 10px;
    margin: 0;
    background-color: #E0E7E9;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.8rem;
}

header,
main {
    border-style: solid;
    margin: 5px;
    padding: 10px;
    background-color: #A3C6C4;
    color: black;
    border-radius: 20px;
    padding: 20px;
    font-size: 150%;
}

#mainNotLogged {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("heroImg.jpg");
    height: 1000%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

#userInfo,
#search,
#favorite,
#suggestion {
    border-style: solid;
}

#loggedIn {
    display: grid;
    height: 1000px;
    grid-template-rows: 33% 33% 33%;
    grid-template-columns: 50% 50%;
}

p {
    object-fit: cover;
}

#userInfo {
    overflow: auto;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

#search {
    overflow: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#favorite {
    overflow: auto;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

#suggestion {
    overflow: auto;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}

#login,
#join {
    background-color: #A3C6C4;
    font-weight: bold;
    font-size: 30px;
    color: rgb(65, 65, 65);
    padding: 8px 30px;
    border-radius: 22px;
    transition-duration: 0.4s;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

#login:hover,
#join:hover {
    background-color: rgb(76, 175, 145);
    cursor: pointer;
}

.search2 {
    width: 50%;
    padding: 12px 20px;
    border-radius: 22px;
}

.search {
    width: 80%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 160%;
}

#notLoggedIn {
    position: relative;
    top: 300px;
}

#filterButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}