body {
    font-family:"Times New Roman", Times, serif;
    font-size: 0.8rem;
    overflow: auto;
}

.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 4fr;
  color: #444;
    width: 100%;
}
article{
    background-color: aliceblue;
    padding: 20px;
}

.header{
    grid-column: 1 /  3;
    grid-row: 1 /  2;
} 

.leftside{
    grid-column: 1 /  2;
    grid-row: 2 /  3; 
    text-align: center;
    padding-top: 20px;
    text-align: left;

}

.rightside{
    grid-column: 2 /  3;
    grid-row: 2 /  3;
    padding-right: 20px;
}

.field select{
    float: left;
}

#favoriteButton, #viewButton{
    display: inline-block;
    font-weight:bold;
    box-shadow: 0 2px 4px black;
    background: #16a085;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    margin: 5px;  
}

#resetButton{
    display: inline-block;
    font-weight:bold;
    box-shadow: 0 2px 4px black;
    background: #fc7303;
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    margin: 5px;  
}

.resetForm{
  float: right;  
}

#filterButton{
     font-weight:bold;
    box-shadow: 0 2px 4px black;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 5px;
    margin: 10px; 
    margin-left: 0px;
    float: left;
}

#filterButton:hover{
    background: #16a085;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -20px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -20px rgba(0,0,0,0.57);
    box-shadow: 0 2px 4px black;
    transition: all 0.4s ease 0s;
    color: #FFF;
}
.description{
    float:right;
}
.singlePicture{
    padding: 10px;
/*    border-style: double;*/
    border-bottom-style:inset;
    margin: 50px;
}
.displayPic{
    box-shadow: 10px 10px 5px #ccc;
    border:2px solid #fff;
}
 ul#pictureList {
 list-style-type: none;
 }
.pictureDiv{
    display: inline-block;
}
.twoButtons{
    
    display: inline-block;
    float:right;
}
form{
    display: inline-block;
}
