 @import url(https://fonts.googleapis.com/css?family=Libre+Franklin);

 body{
      font-family: 'Libre Franklin', sans-serif;
 }

@media only screen and (max-width:1350px) {
  .button {
    width: 100px;
  }
}

@media only screen and (max-width:700px) {
  .favorite {
    display: grid;
    grid-template-columns: auto;
  }
  .ul-favorite {
    padding: 0;
  }
  
}
ul.topnav {
    list-style-type: none;
    margin: 15px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 1.25rem;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: lightblue;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

body{
    background-color: aliceblue;
}

header{
    background-color: white;
    border:outset 5px grey;
    margin-bottom: 10px;
    //height: 150px;
}

.content{
    background-color: white;
    border:outset 5px grey;
    //position: relative;
    //top: 200px;
}
.logo{
    height:3%;
    width: 3%;
}

